nav {
    display: flex;
    justify-content: center;
}

nav a{
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: rgba(114, 107, 107, 0.5);
}

.active {
    background-color: black;
    color: white;
}